.small-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    z-index: 100 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;


    .small-modal-content {
        position: relative;
        height: auto;
        width: 530px;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 20px 20px;

        @media screen and (max-width: 1100px) {
            width: 95vw;
            flex-direction: column;
        }

        h2 {
            display: flex;
            align-items: center;
            gap:15px;
            margin-top: 12px;
            margin-bottom: 8px;
            text-align: left;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;

            span{
                border-radius: 8px;
                width: max-content;
                padding: 4px 8px;
                height: 28px;
                background: linear-gradient(0deg, rgba(63, 27, 208, 0.12) 0%, rgba(63, 27, 208, 0.12) 100%), #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                gap: 8px;
                cursor: pointer;
                color:#3F1BD0;
            }
        }   

 

        h4{
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }

        p{
            text-align: center;
        }

        .btn{
            width: 100%;
            background-color: #FFF2E5;
            color:var(--primary-color);
            padding: 12px 20px;
        }

        .close{
            position: absolute;
            top: 18px;
            right: 25px;
            cursor: pointer;
        }


        .items-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #EDEDED;
            border-radius: 12px;
            margin-bottom: 20px;
    
    button{
        display: block;
      background-color:#EDEDED;
      color: #000;
      text-align: center;
      padding: 12px 10px;
      font-size: 14px;
      font-weight: 500;
      height: 60px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
        }
    
        .tab-active{
            background-color: #FFF2E5;
            color: var(--primary-color);
            border-radius: 12px;
        }
    
        }
    
    .items-container{
        flex-direction: column;
        gap: 10px;
        height: max-content;
        background: transparent;
    
        button{
            width: 100%;
            border-radius: 12px;
            border: 1px solid #F1EEFC;
            opacity: 0.6;           
            background: #FCFCFC;  
        }
    
        .tab-active{
            background-color: #F8F7FE;
            color: var(--primary-color);
            opacity: 1;
            border: 1px solid var(--primary-color);
        }
    }   
    





    }
}